/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
* { margin: 0; padding: 0;box-sizing: border-box; }
html, body { height: 100%; }
*:focus {outline: none;}
body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    color: #333;
    font-size: 14px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}
nav ul {
    list-style: none;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	text-decoration: none;
    color: #000;
}
a:hover {
	text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
	border-style: none;
	max-width: 100%;
}
form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
input, textarea, select {
	vertical-align: middle;
	color: #000;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
input::-webkit-input-placeholder{color:#ebedec;}
input:focus::-webkit-input-placeholder{color:#ebedec;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.flex-box {
    display: flex;
    justify-content: space-between;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	width: 1200px;
}
h2 {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}
p.section-heading-before {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h3.section-heading {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}
h3.section-heading:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #f38181;
    margin: 20px auto 0 auto;
}
p.section-description {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    text-align: center;
    color: #999;
    font-size: 13px;
    width: 750px;
    margin: 0 auto 40px;
}
footer {
	display: block;
	width: 100%;
	margin: 0 0 0;
	padding: 0 0 0;
}
main {
	width: 100%;
	display: block;
	position: relative;
}
.upper-text {
    text-transform: uppercase;
}
header {
	width: 100%;
	display: block;
	position: relative;
    background-image: url(../images/bg-welcome-to-mogo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.upper-text {
    text-transform: uppercase;
}
header .logo {
    display: inline-block;
    padding-top: 30px;
}
header .logo a img {
    width: 86px;
    height: 23px;
}
header nav {
	float: right;
}
header nav ul li{
    padding: 30px 30px 0 0;
    display: inline-block;
    color: #fff;
}
header nav ul li:last-child {
    padding-right: 0;
}
header nav ul li a {
    color: #fff;
    transition: all 0.5s;
    padding-bottom: 12px;
}
header nav ul li a.cart,
header nav ul li a.search {
    font-size: 18px;
}
header nav ul li a.cart:hover,
header nav ul li a.search:hover {
    border-bottom: none;
}
header nav ul li a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}
header nav ul li a.active {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}
header h2 {
    font-size: 72px;
    text-align: center;
    padding: 180px 0 60px;
}
header h1 {
    font-size: 150px;
    color: #fff;
    width: 850px;
    text-align: center;
    margin: 0 auto;
}
header h1:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    margin: 72px auto 50px auto;
}
header a.learn-more-btn {
    display: block;
    width: 160px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    padding: 10px 24px;
    border: 3px solid #fff;
    margin: 0 auto 155px auto;
    transition: .3s ease;
}
header a.learn-more-btn:hover {
    background-color: #fff;
    color: #fce38a;
}
header ul.tabs-list {
    width: 100%;
}
header ul.tabs-list li {
    display: inline-block;
    width: 280px;
    margin-right: 22px;
    padding-bottom: 25px;
    cursor: pointer;
}
header ul.tabs-list li:last-child {
    margin-right: 0;
}
header ul.tabs-list li:hover p {
    color: #fff;
}
header ul.tabs-list li:hover:before {
    background-color: #fff;
}
header ul.tabs-list li:hover:after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    margin-top: -46px;
    background-color: #f38181;
    transition: .3s ease;
}
header ul.tabs-list li:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #faf3dc;
    margin-bottom: 25px;
    transition: .3s ease;
}
header ul.tabs-list li p {
    font-size: 18px;
    color: #faf3dc;
    transition: .3s ease;
}
header ul.tabs-list li p span {
    font-weight: 700;
}
.about-us-block {
    width: 100%;
    display: block;
    position: relative;
    padding: 90px 0 110px;
}
.about-us-block .overlay-item {
    background: #95e1d3;
    display: inline-block;
    width: 380px;
    height: 250px;
    margin-right: 25px;
}
.about-us-block .overlay-item:last-child {
    margin-right: 0;
}
.about-us-block .overlay-item:hover .overlay {
    left: -10px;
    top: -10px;
}
.about-us-block .overlay-item:hover .overlay:before {
    opacity: 1;
}
.about-us-block .overlay-item:hover .overlay .content {
    opacity: 1;
}
.about-us-block .overlay-item .overlay {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
}
.about-us-block .overlay-item .overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(243,129,129,0.9);
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
}
.about-us-block .overlay-item .overlay span.content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    transform: translateY(-50%);
}
.about-us-block .overlay-item .overlay span.content i {
    font-size: 22px;
    padding-bottom: 12px;
}
.about-us-block .overlay-item .overlay img {
    width: 380px;
    height: 250px;
}
.counter-block {
    width: 100%;
    display: block;
    position: relative;
    background-color: #95e1d3;
}
.counter-block .counter-item {
    display: inline-block;
    width: 236px;
    padding: 80px 5px;
    border-right: 1px solid #b5eae0;
}
.counter-block .counter-item:first-child {
    border-left: 1px solid #b5eae0;
}
.counter-block .counter-item p {
    color: #fff;
    text-align: center;
}
.counter-block .counter-item p.counter-number {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
}
