/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
* { margin: 0; padding: 0;box-sizing: border-box; }
html, body { height: 100%; }
*:focus {outline: none;}
body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    color: #333;
    font-size: 14px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}
nav ul {
    list-style: none;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	text-decoration: none;
    color: #000;
}
a:hover {
	text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
	border-style: none;
	max-width: 100%;
}
form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
input, textarea, select {
	vertical-align: middle;
	color: #000;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
input::-webkit-input-placeholder{color:#ebedec;}
input:focus::-webkit-input-placeholder{color:#ebedec;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.flex-box {
    display: flex;
    justify-content: space-between;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	width: 1200px;
}
h2 {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}
p.section-heading-before {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h3.section-heading {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}
h3.section-heading:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #f38181;
    margin: 20px auto 0 auto;
}
p.section-description {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    text-align: center;
    color: #999;
    font-size: 13px;
    width: 750px;
    margin: 0 auto 40px;
}
footer {
	display: block;
	width: 100%;
	margin: 0 0 0;
	padding: 0 0 0;
    overflow: hidden;
}
main {
	width: 100%;
	display: block;
	position: relative;
    overflow: hidden;
}
.upper-text {
    text-transform: uppercase;
}
header {
	width: 100%;
	display: block;
	position: relative;
    background-image: url(../images/bg-welcome-to-mogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.upper-text {
    text-transform: uppercase;
}
header .logo {
    display: inline-block;
    padding-top: 30px;
}
header .logo a img {
    width: 86px;
    height: 23px;
}
header .menu {
    display: none;
}
header nav {
	float: right;
}
header nav ul li{
    padding: 30px 30px 0 0;
    display: inline-block;
    color: #fff;
}
header nav ul li:last-child {
    padding-right: 0;
}
header nav ul li a {
    color: #fff;
    transition: all 0.5s;
    padding-bottom: 12px;
}
header nav ul li a.cart,
header nav ul li a.search {
    font-size: 18px;
}
header nav ul li a.cart:hover,
header nav ul li a.search:hover {
    border-bottom: none;
}
header nav ul li a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}
header nav ul li a.active {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}
header h2 {
    font-size: 72px;
    text-align: center;
    padding: 180px 0 60px;
}
header h1 {
    font-size: 150px;
    color: #fff;
    width: 850px;
    text-align: center;
    margin: 0 auto;
}
header h1:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    margin: 72px auto 50px auto;
}
header a.learn-more-btn {
    display: block;
    width: 160px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    padding: 10px 24px;
    border: 3px solid #fff;
    margin: 0 auto 155px auto;
    transition: .3s ease;
}
header a.learn-more-btn:hover {
    background-color: #fff;
    color: #fce38a;
}
header ul.bars-list {
    width: 100%;
}
header ul.bar-list li {
    display: inline-block;
    width: 280px;
    margin-right: 22px;
    padding-bottom: 25px;
    cursor: pointer;
}
header ul.bar-list li:last-child {
    margin-right: 0;
}
header ul.bar-list li:hover p {
    color: #fff;
}
header ul.bar-list li .progressbar { 
	height: 3px;
	position: relative;
	background: #faf3dc;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-bottom: 25px;
    transition: .3s ease;
}
header ul.bar-list li:hover .progressbar {
    background: #fff;
}
header ul.bar-list li .progressbar > span {
  display: none;
  height: 100%;
  background-color: #f38181;;
  position: relative;
  top: 0;
  overflow: hidden;
}
header ul.bar-list li:hover .progressbar > span {
    display: block;
    transition: .5s ease;
}
header ul.bar-list li p {
    font-size: 18px;
    color: #faf3dc;
    transition: .3s ease;
}
header ul.bar-list li p span {
    font-weight: 700;
}
/*drop-menu*/
.menu {
  display: none;
  position: fixed;
  left: 0;top: 0;
  z-index: 99;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
  margin-left: -1px;
  background-color: #f38181;
}
.menu-active {
  transform: translateX(0%);
  background-color: #f38181;
}
.menu-active .menu-btn {
   right: 5px;
}
.menu-active .menu-btn .first {
    transform: rotate(45deg);
}
.menu-active .menu-btn .third{
    transform: rotate(-45deg);
    top: 5px;
}
.menu-active .menu-btn .second {
    display: none;
}
.menu-list {
  display: flex;
  align-items: center;
  padding: 70px 0;
  flex-direction: column;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  color: #fff;
  transition: .3s ease;
  border-bottom: 3px solid transparent;
  padding-bottom: 12px;
}
.menu-list a:hover:nth-child(6) {
  border-bottom: 3px solid transparent;
}
.menu-list a:hover:last-child {
  border-bottom: 3px solid transparent;
}
.menu-list a:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}
.menu-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: -55px;
  top: 15px;
  transition: 0.5s;
}
.burger-line {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 2px;
  background-color: #eeb687;
  transition: 0.5s;
}
.menu-active .burger-line {
    background-color: #fce38a;
}
.second {
    top: 10px;
}
.third {
    top: 15px;
}
/*drop-menu end*/
.about-us-block {
    width: 100%;
    display: block;
    position: relative;
    padding: 90px 0 110px;
}
.about-us-block .overlay-item {
    background: #95e1d3;
    display: inline-block;
    width: 380px;
    height: 250px;
    margin-right: 25px;
}
.about-us-block .overlay-item:last-child {
    margin-right: 0;
}
.about-us-block .overlay-item:hover .overlay {
    left: -10px;
    top: -10px;
}
.about-us-block .overlay-item:hover .overlay:before {
    opacity: 1;
}
.about-us-block .overlay-item:hover .overlay .content {
    opacity: 1;
}
.about-us-block .overlay-item .overlay {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
}
.about-us-block .overlay-item .overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(243,129,129,0.9);
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
}
.about-us-block .overlay-item .overlay span.content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    transform: translateY(-50%);
}
.about-us-block .overlay-item .overlay span.content i {
    font-size: 22px;
    padding-bottom: 12px;
}
.about-us-block .overlay-item .overlay img {
    width: 380px;
    height: 250px;
}
.counter-block {
    width: 100%;
    display: block;
    position: relative;
    background-color: #95e1d3;
}
.counter-block .counter-item {
    width: 236px;
    padding: 80px 5px;
    border-right: 1px solid #b5eae0;
}
.counter-block .counter-item:first-child {
    border-left: 1px solid #b5eae0;
}
.counter-block .counter-item p {
    color: #fff;
    text-align: center;
}
.counter-block .counter-item p.counter-number {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
}
.services-block {
    width: 100%;
    display: block;
    position: relative;
    padding: 110px 0 120px;;
}
.services-block .top-row {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 65px;
}
.services-block .bottom-row {
    margin-top: 50px;
}
.services-block .row-item {
    display: inline-block;
    margin-right: 60px;
}
.services-block .row-item:first-child {
    margin-left: 30px;
}
.services-block .row-item:last-child {
    margin-right: 0;
}
.services-block .row-item img {
    position: absolute;
    width: 32px;
    height: auto;
}
.services-block .row-item .right-text {
    display: inline-block;
    margin-left: 64px;
}
.services-block .row-item h4.item-title {
    color: #333333;
}
.services-block .top-row .row-item p.item-text {
    padding-bottom: 53px;
}
.services-block .row-item p.item-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    line-height: 1.7;
    padding-top: 20px;
    width: 270px;
}
.unique-design-block {
    width: 100%;
    display: block;
    position: relative;
    background-image: url(../images/bg-unique-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px; 
}
.unique-design-block .devices {
    width: 100%;
    display: block;
    position: relative;
}
.unique-design-block .devices .ipad {
    display: block;
    width: 570px;
    height: auto;
    margin: 0 auto;
}
.unique-design-block .devices .iphone {
    width: 274px;
    height: auto;
    position: absolute;
    bottom: -85px;
    left: 50%;
    margin-left: 140px;
}
.we-do-block {
    width: 100%;
    display: block;
    position: relative;
    padding: 110px 0 120px; 
}
.we-do-block img.human {
    width: 570px;
    height: auto;
}
/*Accodion*/
.accordion-menu {
    width: 50%;
    max-height: 380px;
    background: #fff;
    float: right;
}
.accordion-menu li.open .dropdownlink {
    border-bottom: 1px solid #e5e5e5;
}
.accordion-menu li.open .dropdownlink img.arrow {
    transform: rotate(180deg);
}
.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px;
    position: relative;
    transition: all 0.4s ease-out;
    border-bottom: 1px solid transparent;
}
.dropdownlink p {
    position: absolute;
    top: 50%;
    left: 60px;
    margin-top: -7px;  
}
.dropdownlink img.arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
}
.accordion-menu li {
    margin-top: 10px;
    border: 1px solid #e5e5e5;
}
.accordion-menu li:first-child {
    margin-top: 0;
}
.submenuItems {
    display: none;
}
.content {
    padding: 20px 25px 25px 20px;
    width: 100%;
}
.content p{
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #b3b3b3;
    line-height: 23px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 116px;
}
/*Custom scroll*/
.content p::-webkit-scrollbar {
    margin-right: 15px;
}
.content p::-webkit-scrollbar-track {
    background-color:#f5f5f5;
    border-radius: 2px;
    margin: 10px 5px;
}
.content p::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 2px;
    background-color:#95e1d3;
}
.content p::-webkit-scrollbar-thumb:hover{
    background-color:#95e1d3;
}
.content p::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px;
}
.content p::-webkit-scrollbar{
    width: 5px;
    height: 0px;
}
/*Custom scroll end*/
/*Accordion end*/
.reviews-slider-block {
    width: 100%;
    display: block;
    position: relative;
    background-color: #f8f8f8;
    padding: 70px 0 70px; 
}
.slider-item {
    width: 990px;
    margin: 0 auto;
}
.reviews-slider-block .slider-item .review-block {
    display: inline-block;
    margin-left: 190px;
}
.slider-item p.review {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 22px;
    color: #999;
    width: 100%;
}
.slider-item span.author {
    font-family: 'Kaushan Script', cursive;
    position: relative;
    font-size: 22px;
    padding-left: 70px;
}
.slider-item span.author:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 60px;
    height: 2px;
    background: #f38181;
    transform: translateY(-50%);
}
.reviews-slider-block .slider-item img {
    position: absolute;
    padding: 40px;
    border: 2px solid #95e1d3;
    font-size: 60px;
    color: #95e1d3;
    margin-right: 55px;
}
/* Slick slider */
.reviews-slider {
    position: relative;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    height: 145px;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Стрелка */
.reviews-slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 2;
    font-size: 0;
    width: 12px;
    height: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: -11px;
}
/* Стрелка влево */
.reviews-slider .slick-arrow.slick-prev{
    left: 20px;
    background-image: url(../images/arrow-prew.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Стрелка вправо */
.reviews-slider .slick-arrow.slick-next{
    right: 20px;
    background-image: url(../images/arrow-next.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Slick slider end*/
.our-team-block {
    width: 100%;
    display: block;
    position: relative;
    padding: 100px 0 110px; 
}
.our-team-block .overlay-item {
    background: #95e1d3;
    display: inline-block;
    width: 380px;
    height: 470px;
    margin-right: 25px;
}
.our-team-block .overlay-item:last-child {
    margin-right: 0;
}
.our-team-block .overlay-item p {
    text-align: center;
}
.our-team-block .overlay-item p.name {
    padding: 30px 0 15px;
    font-weight: 700;
}
.our-team-block .overlay-item p.position {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #999;
    font-weight: 300;
}
.our-team-block .overlay-item .overlay {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
}
.our-team-block .overlay-item:hover .overlay {
    left: -10px;
    top: -10px;
}
.our-team-block .overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    background: rgba(243,129,129,0.9);
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
}
.our-team-block .overlay-item:hover .overlay:before {
    opacity: 1;
}
.our-team-block .overlay-item .overlay .content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-align: center;
    color: #fff;
    transform: translateY(-50%);
}
.our-team-block .overlay-item:hover .overlay .content {
    opacity: 1;
}
.our-team-block .overlay-item .overlay .content a {
    display: inline-block;
    font-size: 25px;
    color: #f38181;
    background: #fce38a;
    padding: 10px;
    line-height: 100%;
    border-right: 1px solid #f9bd87;
    margin-right: -4px;
    transition: all .3s ease-in-out;
}
.our-team-block .overlay-item .overlay .content a:last-child {
    border-right: none;
    margin-right: 0;
}
.our-team-block .overlay-item .overlay .content a:hover {
    color: #fff;
    background: #f38181;
}
.our-team-block .overlay-item .overlay img {
    width: 380px;
    height: 470px;
}
.partners-block {
    width: 100%;
    display: block;
    position: relative;
    padding: 60px 0 60px; 
    background-color: #f8f8f8;
}
.partners-block img {
    width: 110px;
    height: auto;
    margin-right: 99px;
}
.partners-block img:first-child {
    margin-left: 10px;
}
.partners-block img:last-child {
    margin-right: 10px;
}



/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1200px) { 
    .wrapper {
        width: 95%;
    }
    .about-us-block,
    .services-block,
    .we-do-block,
    .our-team-block,
    .our-works {
        padding: 90px 0;
    }
    .unique-design-block {
        padding-top: 70px;
    }
    header h2 {
        font-size: 55px;
        padding: 110px 0 40px;
    }
    header h1 {
        font-size: 110px;
        width: 615px;
    }
    header h1:after {
        margin: 45px auto 30px auto;
    }
    header ul.bar-list {
        width: 940px;
        margin: 0 auto;
    }
    header ul.bar-list li {
        width: 215px;
    }
    header ul.bar-list li .progressbar {
        height: 2px;
    }
    header ul.bar-list li p {
        font-size: 14px;
    }
    .about-us-block .overlay-container {
        width: 945px;
        margin: 0 auto;
    }
    .about-us-block .overlay-item {
        width: 295px;
        height: 194px;
    }
    .about-us-block .overlay-item .overlay img {
        width: 295px;
        height: auto;
    }
    .counter-block .counter-container {
        width: 940px;
        margin: 0 auto;
    }
    .services-block .top-row,
    .services-block .bottom-row {
        width: 940px;
        margin: 50px auto;
    }
    .services-block .row-item {
        margin-right: 40px;
    }
    .services-block .row-item p.item-text {
        width: 200px;
    }
    .unique-design-block .devices .ipad {
        width: 420px;
    }
    .unique-design-block .devices .iphone {
        width: 184px;
        bottom: -50px;
        margin-left: 110px;
    }
    .container {
        width:  940px;
        margin: 0 auto;
    }
    .we-do-block img.human {
        width: 455px;
    }
    .accordion-menu {
        width: 470px;
    }
    .dropdownlink {
        padding: 10px;
    }
    .content p {
        font-size: 14px;
        height: auto;
        max-height: 89px;
    }
    .content {
        padding: 10px 15px 15px 10px;
    }
    .slider-item p.review {
        font-size: 18px;
    }
    .slider-item span.author {
        font-size: 18px;
    }
    .reviews-slider-block .slider-item img {
        padding: 30px;
    }
    .slick-list {
        height: 125px;
    }
    .reviews-slider-block .slider-item .review-block {
        margin-left: 160px;
    }
    .slider-item {
        width: 800px;
        margin: 0 auto;
    }
    .our-team-block .overlay-item {
        width: 295px;
        height: 365px;
        margin-right: 23px;
    }
    .our-team-block .overlay-item .overlay img {
        width: 295px;
        height: auto;
    }
    .our-team-block .overlay:before {
        height: 365px;
    }
    .our-team-block .overlay-item p.name,
    .our-team-block .overlay-item p.position {
        font-size: 13px;
    }
    .partners-block img {
        margin-right: 48px;
    }
}
/* 768px - 992px */
@media screen and (max-width: 992px) {
    .about-us-block,
    .services-block,
    .we-do-block,
    .our-team-block,
    .our-works{
        padding: 50px 0;
    }
    .unique-design-block {
        padding-top: 50px;
    }
    header nav ul li {
        font-size: 12px;
    }
    header h1 {
        font-size: 100px;
        width: 560px;
    }
    header h1:after {
        height: 2px;
    }
    header a.learn-more-btn {
        border: 2px solid #fff;
        margin-bottom: 100px;
    }
    header ul.bar-list li {
        width: 174px;
        margin-right: 10px;
    }
    .about-us-block .overlay-item {
        width: 227px;
        height: 149px;
    }
    .about-us-block .overlay-item .overlay img {
        width: 227px;
    }
    .counter-block .counter-item p.counter-number {
        font-size: 50px;
    }
    .counter-block .counter-item p {
        font-size: 10px;
    }
    .counter-block .counter-item {
        padding: 30px 5px;
    }
    .about-us-block .overlay-container,
    header ul.bar-list {
        width: 740px;
    }
    .services-block .row-item p.item-text {
        width: 150px;
    }
    .services-block .row-item .right-text {
        margin-left: 55px;
    }
    .services-block .row-item {
        margin-right: 30px;
    }
    .services-block .top-row,
    .services-block .bottom-row {
        width: 715px;
        margin: 50px auto;
    }
    .services-block .row-item p.item-text {
        font-size: 13px;
    }
    .unique-design-block .devices .ipad {
        width: 340px;
        margin-top: -25px;
    }
    .unique-design-block .devices .iphone {
        width: 154px;
        bottom: -40px;
        margin-left: 80px;
    }
    .we-do-block .container {
        width:  100%;
    }
    .we-do-block img.human {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .accordion-menu {
        width: 80%;
        float: none;
        margin: 0 auto;
        margin-top: 40px;
    }
    .reviews-slider-block {
        padding: 40px 0 40px;
    }
    .slider-item p.review {
        font-size: 16px;
    }
    .slider-item span.author {
        font-size: 16px;
    }
    .reviews-slider-block .slider-item img {
        padding: 20px;
    }
    .slick-list {
        height: 110px;
    }
    .reviews-slider-block .slider-item .review-block {
        margin-left: 140px;
    }
    .slider-item {
        width: 600px;
        margin: 0 auto;
    }
    .our-team-block .overlay-item {
        width: 226px;
        height: 279px;
        margin-right: 23px;
    }
    .our-team-block .overlay-item .overlay img {
        width: 226px;
        height: auto;
    }
    .our-team-block .overlay:before {
        height: 280px;
    }
    .our-team-block .overlay-item .overlay .content a {
        font-size: 20px;
        padding: 7px;
    }
    .partners-block {
        padding: 40px 0;
    }
    .partners-block img {
        width: 100px;
        margin-right: 18px;
    }
    .container {
        width: 740px;
    }
}
/* 576px - 768px */
@media screen and (max-width: 768px) {
    header nav {
        display: none;
    }
    header .menu {
        display: flex;
    }
    header .logo {
        display: block;
        margin: 0 auto;
        width: 86px;
    }
    header h2 {
        font-size: 32px;
        padding: 80px 0 40px;
    }
    header h1 {
        font-size: 55px;
        width: 420px;
    } 
    header ul.bar-list {
        width: 560px;
    }
    header ul.bar-list li {
        width: 129px;
    }
    header ul.bar-list li .progressbar {
        margin-bottom: 15px;
    }
    header ul.bar-list li p {
        font-size: 12px;
    }
    .about-us-block {
        padding: 70px 0;
    }
    p.section-heading-before {
        font-size: 18px;
        margin-bottom: 10px;
    }
    h3.section-heading {
        font-size: 22px;
        margin-bottom: 20px;
    }
    p.section-description {
        width: 100%;
    }
    .about-us-block .overlay-item {
        display: block;
    }
    .about-us-block .overlay-container {
        width: 340px;
    }
    .about-us-block .overlay-item .overlay img {
        width: 340px;
    }
    .about-us-block .overlay-item {
        width: 340px;
        height: 224px;
        margin-bottom: 25px;
    }
    .about-us-block .overlay-item:last-child {
        margin-bottom: 0;
    }
    .counter-block .counter-item p.counter-number {
        font-size: 32px;
    }
    .counter-block .counter-item p {
        line-height: 1.3;
    }
    .services-block .top-row,
    .services-block .bottom-row {
        width: 100%;
    }
    .services-block .top-row {
        margin-bottom: 20px;
    }
    .services-block .bottom-row {
        margin: 0;
    }
    .services-block .row-item {
        border-bottom: 1px solid #e5e5e5; 
        display: block;
        width: 445px;
        margin: 20px auto 0;
    }
    .services-block .row-item .right-text {
        margin-left: 65px;
    }
    .services-block .row-item:first-child {
        margin: 20px auto 0;
    }
    .services-block .row-item:last-child {
        margin: 20px auto 0;
    }
    .services-block .top-row {
        border: none;
    }
    .services-block .top-row .row-item p.item-text,
    .services-block .bottom-row .row-item p.item-text {
        padding-bottom: 20px;
    }
    .services-block .row-item p.item-text {
        width: 100%;
    }
    .reviews-slider-block .slider-item img {
        display: none;
    }
    .reviews-slider-block .slider-item .review-block {
        margin-left: 0;
    }
    .slider-item {
        width: 440px;
    }
    .our-team-block .overlay-item {
        display: block;
        margin: 0 auto 80px auto;
        width: 295px;
        height: 365px;
    }
    .our-team-block .overlay-item:last-child {
        margin-right: auto;
        margin-bottom: 50px;
    }
    .our-team-block .overlay-item p.name {
        padding: 15px 0 5px;
    }
    .our-team-block .overlay-item .overlay img {
        width: 295px;
        height: auto;
    }
    .our-team-block .overlay:before {
        height: 365px;
    }
    .our-team-block .overlay-item .overlay .content a {
        font-size: 20px;
        padding: 7px;
    }
    .partners-block {
        padding: 40px 0;
    }
    .partners-block img {
        width: 150px;
    }
    .partners-block img:nth-child(odd) {
        margin-right: 75px;
    }
    .partners-block img:nth-child(even) {
        margin-right: 0;
    }
    .partners-block img:first-child {
        margin-left: 0;
    }
    .partners-block img:last-child {
        margin-right: 0;
    }
    .container {
        width: auto;
    }
    .partners-block .container {
        width: 379px;
    }
}
/* 320px - 576px */
@media screen and (max-width: 576px) {
    .menu {
        width: 50%;
    }
    .menu-list a {
        margin-top: 20px;
        font-size: 12px;
    }
    p.section-description {
        margin: 0 auto 25px;
    }
    h3.section-heading:after {
        margin-top: 10px;
    }
    .about-us-block, 
    .services-block, 
    .we-do-block,
    .our-team-block,
    .our-works {
        padding: 40px 0;
    }
    header h2 {
        font-size: 22px;
        padding: 40px 0 40px;
    }
    header h1 {
        font-size: 45px;
        width: 260px;
    }
    header a.learn-more-btn {
        margin-bottom: 70px;
    }
    header ul.bar-list {
        width: 300px;
    }
    header ul.bar-list li p {
        width: 25px;
    }
    header ul.bar-list li {
        width: 64px;
    }
    .about-us-block .overlay-container {
        width: 280px;
    }
    .about-us-block .overlay-item .overlay img {
        width: 280px;
    }
    .about-us-block .overlay-item {
        width: 280px;
        height: 184px;
        margin-bottom: 25px;
    }
    .counter-block .counter-item p.counter-number {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .counter-block .counter-item {
        padding: 15px 5px;
        font-size: 8px;
    }
    .services-block .top-row {
        margin-top: 30px;
    }
    .services-block .row-item {
        width: 300px;
    }
    .services-block .row-item img {
        position: static;
        display: block;
        margin: 20px auto;
    }
    .services-block .row-item .right-text {
        display: block;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    .unique-design-block {
        padding-top: 30px;
    }
    .unique-design-block .devices .ipad {
        width: 220px;
    }
    .unique-design-block .devices .iphone {
        width: 114px;
        bottom: -30px;
        margin-left: 40px;
    }
    .reviews-slider-block {
        padding: 30px 0;
    }
    .slider-item p.review {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    .slider-item span.author {
        font-size: 14px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0;
        padding-top: 10px;
    }
    .slider-item span.author:after {
        margin-left: -30px;
        top: 0;
        left: 50%;
    }
    .slider-item {
        width: 300px;
    }
    .slick-list {
        height: 120px;
    }
    .our-team-block .overlay-item {
        width: 226px;
        height: 279px;
    }
    .our-team-block .overlay-item .overlay img {
        width: 226px;
        height: auto;
    }
    .our-team-block .overlay:before {
        height: 280px;
    }
    .partners-block {
        padding: 40px 0;
    }
    .partners-block img {
        width: 115px;
    }
    .partners-block img:nth-child(odd) {
        margin-right: 25px;
    }
    .container {
        width: auto;
    }
    .partners-block {
        padding: 20px 0;
    }
    .partners-block .container {
        width: 259px;
    }
}