/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
* { margin: 0; padding: 0;box-sizing: border-box; }
html, body { height: 100%; }
*:focus {outline: none;}
body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    color: #333;
    font-size: 14px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}
nav ul {
    list-style: none;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	text-decoration: none;
    color: #000;
}
a:hover {
	text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
	border-style: none;
	max-width: 100%;
}
form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
input, textarea, select {
	vertical-align: middle;
	color: #000;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
input::-webkit-input-placeholder{color:#ebedec;}
input:focus::-webkit-input-placeholder{color:#ebedec;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.flex-box {
    display: flex;
    justify-content: space-between;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	width: 1200px;
}
h2 {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}
p.section-heading-before {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h3.section-heading {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}
h3.section-heading:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #f38181;
    margin: 20px auto 0 auto;
}
p.section-description {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    text-align: center;
    color: #999;
    font-size: 13px;
    width: 750px;
    margin: 0 auto 40px;
}
footer {
	display: block;
	width: 100%;
	margin: 0 0 0;
	padding: 0 0 0;
    overflow: hidden;
}
main {
	width: 100%;
	display: block;
	position: relative;
    overflow: hidden;
}
.upper-text {
    text-transform: uppercase;
}
header {
	width: 100%;
	display: block;
	position: relative;
    background-image: url(../images/bg-welcome-to-mogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.upper-text {
    text-transform: uppercase;
}
header .logo {
    display: inline-block;
    padding-top: 30px;
}
header .logo a img {
    width: 86px;
    height: 23px;
}
header .menu {
    display: none;
}
header nav {
	float: right;
}
header nav ul li{
    padding: 30px 30px 0 0;
    display: inline-block;
    color: #fff;
}
header nav ul li:last-child {
    padding-right: 0;
}
header nav ul li a {
    color: #fff;
    transition: all 0.5s;
    padding-bottom: 12px;
}
header nav ul li a.cart,
header nav ul li a.search {
    font-size: 18px;
}
header nav ul li a.cart:hover,
header nav ul li a.search:hover {
    border-bottom: none;
}
header nav ul li a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}
header nav ul li a.active {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}
header h2 {
    font-size: 72px;
    text-align: center;
    padding: 180px 0 60px;
}
header h1 {
    font-size: 150px;
    color: #fff;
    width: 850px;
    text-align: center;
    margin: 0 auto;
}
header h1:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    margin: 72px auto 50px auto;
}
header a.learn-more-btn {
    display: block;
    width: 160px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    padding: 10px 24px;
    border: 3px solid #fff;
    margin: 0 auto 155px auto;
    transition: .3s ease;
}
header a.learn-more-btn:hover {
    background-color: #fff;
    color: #fce38a;
}
header ul.bars-list {
    width: 100%;
}
header ul.bar-list li {
    display: inline-block;
    width: 280px;
    margin-right: 22px;
    padding-bottom: 25px;
    cursor: pointer;
}
header ul.bar-list li:last-child {
    margin-right: 0;
}
header ul.bar-list li:hover p {
    color: #fff;
}
header ul.bar-list li .progressbar { 
	height: 3px;
	position: relative;
	background: #faf3dc;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-bottom: 25px;
    transition: .3s ease;
}
header ul.bar-list li:hover .progressbar {
    background: #fff;
}
header ul.bar-list li .progressbar > span {
  display: none;
  height: 100%;
  background-color: #f38181;;
  position: relative;
  top: 0;
  overflow: hidden;
}
header ul.bar-list li:hover .progressbar > span {
    display: block;
    transition: .5s ease;
}
header ul.bar-list li p {
    font-size: 18px;
    color: #faf3dc;
    transition: .3s ease;
}
header ul.bar-list li p span {
    font-weight: 700;
}
/*Drop menu*/
.menu {
  position: fixed;
  left: 0;top: 0;
  z-index: 99;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
  display: none;
}
.menu-active {
  transform: translateX(0%);
  background-color: #f38181;
}
.menu-list {
  display: flex;
  align-items: center;
  padding: 70px 0;
  flex-direction: column;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  color: #fff;
  transition: .3s ease;
  border-bottom: 3px solid transparent;
  padding-bottom: 12px;
}
.menu-list a:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}
.menu-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: -60px;
  top: 15px;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.content_active {
  transform: translateX(30%);
}
.burger-line {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 25px;
    height: 2px;
    background-color: #eeb687;
    transition: 0.5s;
}
.menu-active .burger-line {
    background-color: #fce38a;
}
.second {
    top: 10px;
}
.third {
    top: 15px;
}
.content_active {
    transform: translateX(30%);
    transition: 0.5s;
}
#content {
    transition: 0.5s;
}
/*Drop menu end*/
.about-us-block {
    width: 100%;
    display: block;
    position: relative;
    padding: 90px 0 110px;
}
.about-us-block .overlay-item {
    background: #95e1d3;
    display: inline-block;
    width: 380px;
    height: 250px;
    margin-right: 25px;
}
.about-us-block .overlay-item:last-child {
    margin-right: 0;
}
.about-us-block .overlay-item:hover .overlay {
    left: -10px;
    top: -10px;
}
.about-us-block .overlay-item:hover .overlay:before {
    opacity: 1;
}
.about-us-block .overlay-item:hover .overlay .content {
    opacity: 1;
}
.about-us-block .overlay-item .overlay {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
}
.about-us-block .overlay-item .overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(243,129,129,0.9);
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
}
.about-us-block .overlay-item .overlay span.content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    transform: translateY(-50%);
}
.about-us-block .overlay-item .overlay span.content i {
    font-size: 22px;
    padding-bottom: 12px;
}
.about-us-block .overlay-item .overlay img {
    width: 380px;
    height: 250px;
}
.counter-block {
    width: 100%;
    display: block;
    position: relative;
    background-color: #95e1d3;
}
.counter-block .counter-item {
    display: inline-block;
    width: 236px;
    padding: 80px 5px;
    border-right: 1px solid #b5eae0;
}
.counter-block .counter-item:first-child {
    border-left: 1px solid #b5eae0;
}
.counter-block .counter-item p {
    color: #fff;
    text-align: center;
}
.counter-block .counter-item p.counter-number {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
}

/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) { 
    .wrapper {
        width: 95%;
    }
    header h2 {
        font-size: 55px;
        padding: 110px 0 40px;
    }
    header h1 {
        font-size: 110px;
        width: 615px;
    }
    header h1:after {
        margin: 45px auto 30px auto;
    }
    header ul.bar-list {
        width: 940px;
        margin: 0 auto;
    }
    header ul.bar-list li {
        width: 215px;
    }
    header ul.bar-list li .progressbar {
        height: 2px;
    }
    header ul.bar-list li p {
        font-size: 14px;
    }
    .about-us-block .overlay-container {
        width: 945px;
        margin: 0 auto;
    }
    .about-us-block .overlay-item {
        width: 295px;
        height: 194px;
    }
    .about-us-block {
        padding: 90px 0;
    }
    .about-us-block .overlay-item .overlay img {
        width: 295px;
        height: auto;
    }
    .counter-block .counter-container {
        width: 940px;
        margin: 0 auto;
    }
    .counter-block .counter-item {
        width: 185px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    header nav ul li {
        font-size: 12px;
    }
    header h1 {
        font-size: 100px;
        width: 560px;
    }
    header h1:after {
        height: 2px;
    }
    header a.learn-more-btn {
        border: 2px solid #fff;
        margin-bottom: 100px;
    }
    header ul.bar-list li {
        width: 174px;
        margin-right: 10px;
    }
    .about-us-block .overlay-item {
        width: 227px;
        height: 149px;
    }
    .about-us-block .overlay-item .overlay img {
        width: 227px;
    }
    .counter-block .counter-item p.counter-number {
        font-size: 50px;
    }
    .counter-block .counter-item p {
        font-size: 10px;
    }
    .counter-block .counter-item {
        padding: 30px 5px;
    }
    .counter-block .counter-container,
    .about-us-block .overlay-container,
    header ul.bar-list {
        width: 740px;
    }
    .counter-block .counter-item {
        width: 145px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    header nav {
        display: none;
    }
    header .menu {
        display: block;
    }
    header .logo {
        display: block;
        margin: 0 auto;
        width: 86px;
    }
    header h2 {
        font-size: 32px;
        padding: 80px 0 40px;
    }
    header h1 {
        font-size: 55px;
        width: 420px;
    } 
    header ul.bar-list {
        width: 560px;
    }
    header ul.bar-list li {
        width: 129px;
    }
    header ul.bar-list li .progressbar {
        margin-bottom: 15px;
    }
    header ul.bar-list li p {
        font-size: 12px;
    }
    .about-us-block {
        padding: 70px 0;
    }
    p.section-heading-before {
        font-size: 18px;
        margin-bottom: 10px;
    }
    h3.section-heading {
        font-size: 22px;
        margin-bottom: 20px;
    }
    p.section-description {
        width: 100%;
    }
    .about-us-block .overlay-item {
        display: block;
    }
    .about-us-block .overlay-container {
        width: 340px;
    }
    .about-us-block .overlay-item .overlay img {
        width: 340px;
    }
    .about-us-block .overlay-item {
        width: 340px;
        height: 224px;
        margin-bottom: 25px;
    }
    .about-us-block .overlay-item:last-child {
        margin-bottom: 0;
    }
    .counter-block .counter-container {
        width: 530px;
    }
    .counter-block .counter-item p.counter-number {
        font-size: 32px;
    }
    .counter-block .counter-item p {
        line-height: 1.3;
    }
    .counter-block .counter-item {
        width: 103px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .menu {
        width: 50%;
    }
    .menu-list a {
        margin-top: 20px;
        font-size: 12px;
    }
    header h2 {
        font-size: 22px;
        padding: 60px 0 40px;
    }
    header h1 {
        font-size: 45px;
        width: 260px;
    }
    header ul.bar-list {
        width: 300px;
    }
    header ul.bar-list li p {
        width: 25px;
    }
    header ul.bar-list li {
        width: 64px;
    }
    .about-us-block .overlay-container {
        width: 280px;
    }
    .about-us-block .overlay-item .overlay img {
        width: 280px;
    }
    .about-us-block .overlay-item {
        width: 280px;
        height: 184px;
        margin-bottom: 25px;
    }
    .counter-block .counter-container {
        width: 320px;
    }
    .counter-block .counter-item p.counter-number {
        font-size: 24px;
    }
    .counter-block .counter-item {
        padding: 20px 0;
        width: 61px;
    }
}
